{% extends '::base.html.twig' %}

{% block body %}
    <h3 xmlns="http://www.w3.org/1999/html">Nuevo Post</h3>
    <form method="post" action="{{ path('app_post_insert') }}">
        <button class="btn-info" type="submit" value="submit">Añadir</button>
    </form>
{% endblock %}